@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arista20';
  src: url('/fonts/[z] Arista Trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arista20Light';
  src: url('/fonts/[z] Arista Light Trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  @apply bg-white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Filtro para hacer el ícono del estetoscopio blanco */
.filter-white {
  filter: brightness(0) invert(1);
} 